h1 {
    text-align: center;
}
h2 {
    color: indigo;
}
button {
    color: rgb(63, 47, 165);
    background-color: rgb(170, 173, 177);
}
a {
    text-decoration: none;
}

.vers {
    background-color: mediumslateblue;
}

img {
    height: 584px;
    width: 1440px;
}


.profilepic {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

td input {
   height: 50px;
    width: 100px;
    font-size: x-large;
    border-radius: 10%;
}

#result {
    height: 50px;
    width: 500px;
    font-size: x-large;
    border-radius: 10%;
}

#kalkulatorHeading {
    color: aliceblue;
    font-size: 70px;
    text-shadow: 10px;
}